@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&family=Roboto+Mono:wght@200;300&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0px 80px; 
    margin: auto; 
}

.navbar {
    display: center;
    position: fixed; 
    width: 100%; 
    padding: 30px 0px; 
    font-family: 'Roboto Mono', sans-serif;
    /*background-color: rgb(8, 105, 100); */ 
}

.navbar.sticky{
    padding:30px 0px; 
    background-color: rgb(8, 47, 105);
}

.navbar .max-width{
    display: flex;
    align-items: left;
    justify-content: space-between;
}

/* add logo with hh */ 
.navbar .logo a{
    color: rgb(101, 250, 255); 
    font-size: 15px;
    font-weight: 500px;
}

.navbar .menu li{
    list-style: none;
    display: inline-block; 
}

.navbar .menu li a {
    color: white; 
    font-size: 15px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: rgb(0, 255, 242)
}

/* home section */ 
.home{
    display: flex; 
    height:100vh; 
    background-color: rgb(66, 63, 63); 
    color: white; 
    font-family: 'Roboto Mono', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 100px;
}

.home .home-content .text-1 {
    font-size: 15px; 
    margin-top: -3px; 
    font-weight: bold;
}
